[github]
	user = MikeSplain
[user]
	# Name used in commit messages.
	name = Mike Splain
	# Email used in commit messages.
	email = mike.splain@gmail.com
	signingkey = 9BBEA323

{{ if not (env "CI") -}}
[url "personalgit:"]
	# Force 1password ssh keys
	insteadOf = https://github.com/
{{ end -}}