[github]
	user = mikesplainsonos
[user]
	# Name used in commit messages.
	name = Mike Splain
	# Email used in commit messages.
	email = mike.splain@sonos.com

[url "workgit:"]
	# Use SSH for GitHub instead of https://
	# Enable this in networks where https:// has issues.
	insteadOf = https://github.com/

