[github]
	user = MikeSplain
[user]
	# Name used in commit messages.
	name = Mike Splain
	# Email used in commit messages.
	email = mike.splain@gmail.com
	signingkey = 9BBEA323

[url "personalgit:"]
	# Use SSH for GitHub instead of https://
	# Enable this in networks where https:// has issues.
	insteadOf = https://github.com/

