[github]
	user = mikesplainsonos
[user]
	# Name used in commit messages.
	name = Mike Splain
	# Email used in commit messages.
	email = mike.splain@sonos.com

[url "workgit:"]
	# Force 1password ssh keys
	insteadOf = https://github.com/

