{{ if and (eq .chezmoi.os "darwin") (not (env "CI")) -}}
#### FIG ENV VARIABLES ####
# Please make sure this block is at the start of this file.
[ -s ~/.fig/shell/pre.sh ] && source ~/.fig/shell/pre.sh
#### END FIG ENV VARIABLES ####
{{ end -}}
# load shared shell configuration
[ "$(uname -s)" = "Darwin" ] && source ~/.bash_profile
source ~/.shrc

# History
export HISTFILE=~/.bash_history
export HISTCONTROL=ignoredups
export PROMPT_COMMAND='history -a'
export HISTIGNORE="&:ls:[bf]g:exit"

{{ if and (eq .chezmoi.os "darwin") (not (env "CI")) -}}
#### FIG ENV VARIABLES ####
# Please make sure this block is at the end of this file.
[ -s ~/.fig/fig.sh ] && source ~/.fig/fig.sh
#### END FIG ENV VARIABLES ####
{{ end -}}