#!/bin/sh

# To rerun:
# chezmoi state delete-bucket --bucket=scriptState

{{ if eq .chezmoi.os "linux" -}}
if [ "$USER" = "root" ]; then
  SUDO=""
else
  SUDO="sudo"
fi
$SUDO apt-get update
$SUDO apt-get install \
  fontconfig \
  xfonts-utils \
  neovim \
  hub \
  tmux \
  zsh \
  -yq
{{ else if eq .chezmoi.os "darwin" -}}
echo "Installing homebrew"
export NONINTERACTIVE=true
/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
brew install hub \
              tmux \
              gpg \
              zsh
{{ end -}}

# Install spacevim
curl -sLf https://spacevim.org/install.sh | bash