#!/bin/bash

{{ if eq .chezmoi.os "darwin" -}}

echo "Setting mac config"

  defaults write com.ragingmenace.MenuMeters \
    CPUAverageMultiProcs \
    -int 1

  defaults write com.ragingmenace.MenuMeters \
    CPUDisplayMode \
    -int 2

  defaults write com.ragingmenace.MenuMeters \
    MemDisplayMode \
    -int 4

  defaults write com.ragingmenace.MenuMeters \
    NetDisplayMode \
    -int 2

  defaults write com.ragingmenace.MenuMeters \
    com.ragingmenace.MenuMeterDisk \
    -int 0

  # Fix Logitech MX Master
  # https://www.reddit.com/r/MouseReview/comments/79fb7z/mx_master_2s_thumbwheel_scrolling_lags_has_play/
  defaults write .GlobalPreferences com.apple.mouse.scaling -1

  # General Mac Config

  # Minimize to app
  defaults write com.apple.dock minimize-to-application -int 1
  # Switch to Dark theme
  # osascript -e 'tell application "System Events" to tell appearance preferences to set dark mode to not dark mode'
  # Turn on tap to click by default
  defaults write com.apple.driver.AppleBluetoothMultitouch.trackpad Clicking -bool true
  defaults -currentHost write NSGlobalDomain com.apple.mouse.tapBehavior -int 1
  defaults write NSGlobalDomain com.apple.mouse.tapBehavior -int 1

  # Show battery percent by default
  defaults write com.apple.menuextra.battery ShowPercent -string YES
  # Minimize to app in tray
  defaults write com.apple.dock minimize-to-application -int 1

  # Finder
  # Show status bar with free space at bottom of finder
  defaults write com.apple.finder ShowStatusBar 1
  # Show Pathbar in finder
  defaults write com.apple.finder ShowPathbar 1

  # Remove dock delay
  defaults write com.apple.dock autohide-delay -int 0
  # Speed up autohide
  defaults write com.apple.dock autohide-time-modifier -float 0.25;killall Dock

  # Auto unhide Library
  chflags nohidden ~/Library

{{ end -}}

