{{ if .interactive -}}
{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
cask "homebrew/cask-versions/1password-beta"
cask "1password-cli"
EOF

echo ""
echo "Please setup 1password and 1password cli"
read -p "Press any key to continue ..."
echo ""

{{ end -}}
{{ end -}}