# Common
tap "atombender/ktail"
tap "bazelbuild/tap"
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/core"
tap "homebrew/services"
tap "homebrew/test-bot"
tap "mikesplain/tap"
tap "mikesplain/versions"

{{- if eq .email "mike.splain@sonos.com" }}
# Work
tap "azure/draft"
tap "jenkins-x/jx"
tap "nathan-v/aws-okta-keyman"
tap "rs/tap"
tap "sonos-inc/pdsw-devops"
{{- end }}

{{- if eq .email "mike.splain@gmail.com" }}
# Personal
tap "cloudflare/cloudflare"
tap "fluxcd/tap"
tap "go-task/tap"
{{- end }}

brew "ack"
# Removing temporarily, see https://github.com/atombender/homebrew-ktail/issues/2 and https://github.com/mikesplain/dotfiles/runs/6524376598?check_suite_focus=true
# brew "atombender/ktail/ktail"
brew "autoconf"
brew "automake"
brew "aws-iam-authenticator"
brew "awscli"
brew "bat"
brew "bazelisk"
brew "chezmoi"
brew "cmake"
brew "coreutils"
brew "curl"
brew "diff-so-fancy"
brew "duf"
brew "eksctl"
brew "exa"
brew "fd"
brew "findutils"
brew "fontconfig"
brew "freetype"
brew "fx"
brew "gdbm"
brew "gettext"
brew "git-crypt"
brew "git-lfs"
brew "git"
brew "gmp"
brew "gnu-sed"
brew "gnu-tar"
brew "go"
brew "gox"
brew "grc"
brew "gzip"
brew "helm"
brew "helmfile"
brew "highlight"
brew "htop"
brew "httperf"
brew "hub"
brew "hugo"
brew "iftop"
brew "ipcalc"
brew "iperf"
brew "jpeg"
brew "jq"
brew "jsonlint"
brew "k9s"
brew "kind"
brew "kops"
brew "kube-ps1"
brew "kubebuilder"
brew "kustomize"
brew "libdvdcss"
brew "libgcrypt"
brew "libpng"
brew "libtool"
brew "libyaml"
brew "lua"
brew "mas"
brew "maven"
brew "moreutils"
brew "msgpack"
brew "ncdu"
brew "neovim"
brew "nmap"
brew "node"
brew "ossp-uuid"
brew "packer"
brew "pcre"
brew "perl"
brew "podman"
brew "rbenv-default-gems"
brew "rbenv"
brew "reattach-to-user-namespace"
brew "ripgrep"
brew "ruby-build"
brew "ruby"
brew "s3cmd"
brew "shellcheck"
brew "slackcat"
brew "socat"
brew "sonobuoy"
brew "sops"
brew "ssh-copy-id", link: true
brew "telnet"
brew "terraform"
brew "the_silver_searcher"
brew "thefuck"
brew "tmate"
brew "tmux"
brew "tree"
brew "utf8proc"
brew "vegeta"
brew "velero"
brew "vim"
brew "wakeonlan"
brew "watch"
brew "wget"
brew "xz"
brew "yq"
brew "zsh-completions"
brew "zsh"

{{- if eq .email "mike.splain@sonos.com" }}
# Work
brew "argo"
brew "argocd"
brew "asciinema"
brew "azure/draft/draft"
brew "calicoctl"
brew "chart-testing"
brew "cilium-cli"
brew "cloc"
brew "cloog"
brew "colima" # docker desktop alternative
brew "cowsay"
brew "dive"
brew "docker-machine-driver-hyperkit"
brew "docker-machine"
brew "docker"
brew "ec2-api-tools"
brew "fortune"
brew "git-secret"
brew "gnu-getopt"
brew "gradle"
brew "hubble"
brew "imagemagick"
brew "istioctl"
brew "jenkins-x/jx/jx"
brew "jfrog-cli"
brew "kubernetes-service-catalog-client"
brew "libxml2"
brew "lima"
brew "linkerd"
brew "lolcat"
brew "mercurial"
brew "minikube"
brew "nathan-v/aws-okta-keyman/aws_okta_keyman"
brew "node-build"
brew "nodenv"
brew "nvm"
brew "openssl@3"
brew "postgresql"
brew "potrace"
brew "pulumi"
brew "pv"
brew "rs/tap/jaggr"
brew "rs/tap/jplot"
brew "serverless"
brew "skaffold"
brew "sonos-inc/pdsw-devops/sk8s"
brew "subnetcalc"
brew "vault"
brew "yarn"
{{- end }}

{{- if eq .email "mike.splain@gmail.com" }}
# Personal
brew "ansible"
brew "bbftp-client"
brew "cloudflare/cloudflare/cloudflared"
brew "dnsperf"
brew "doctl"
brew "ffmpeg"
brew "fluxcd/tap/flux"
brew "fzf"
brew "gnupg", link: false
brew "go-task/tap/go-task"
brew "jsonnet"
brew "kubectx"
brew "kubeseal"
brew "md5sha1sum", link: false
brew "mosh"
brew "pre-commit"
brew "wimlib"
brew "youtube-dl"
{{- end }}

cask "homebrew/cask-versions/1password-beta"
cask "1password-cli"
cask "alfred"
cask "atom"
cask "balenaetcher"
cask "brave-browser"
cask "brooklyn"
cask "cakebrew"
cask "charles"
cask "discord"
cask "disk-inventory-x"
cask "dropbox"
cask "elgato-stream-deck"
cask "firefox"
cask "fork"
cask "gimp"
cask "github"
cask "google-cloud-sdk"
cask "google-drive"
cask "gpg-suite"
cask "iterm2"
cask "kaleidoscope"
cask "keepingyouawake"
cask "keybase"
cask "logitech-options"
cask "menumeters"
cask "multipass"
cask "netnewswire-beta"
cask "ngrok"
cask "notion"
cask "obs"
cask "obsidian"
cask "plex-media-player"
cask "postman"
cask "rectangle"
cask "sequel-pro"
cask "signal"
cask "sonos"
cask "sourcetree"
cask "splashy"
cask "spotify"
cask "superduper"
cask "thunderbird"
cask "tigervnc-viewer"
cask "transmission"
cask "transmit"
cask "unetbootin"
cask "vagrant-manager"
cask "vagrant"
cask "visual-studio-code"
cask "vlc"
cask "wireshark"

{{- if eq .email "mike.splain@sonos.com" }}
# Work
cask "amazon-chime"
cask "corretto8"
cask "cyberduck"
cask "flux"
cask "gitkraken"
cask "gotomeeting"
cask "intellij-idea-ce"
cask "lens"
# cask "rancher" # (rancher and docker conflict)
cask "xquartz"
{{- end }}

{{- if eq .email "mike.splain@gmail.com" }}
# Personal
cask "adoptopenjdk8"
cask "amazon-photos"
cask "bitwarden"
cask "blender"
cask "db-browser-for-sqlite"
cask "docker"
cask "folding-at-home"
cask "freecad"
cask "google-chrome"
cask "handbrake"
cask "librecad"
cask "mazda-toolbox"
cask "nvidia-geforce-now"
cask "openoffice"
cask "openscad"
cask "parsec"
cask "private-internet-access"
cask "sidequest"
cask "slack"
cask "steam"
cask "tor-browser"
cask "ultimaker-cura"
cask "virtualbox-extension-pack"
cask "virtualbox"
cask "vivaldi"
cask "zoom"
{{- end }}

mas "1Password for Safari", id: 1569813296
mas "Apple Configurator 2", id: 1037126344
mas "Deliveries", id: 290986013
mas "GoodLinks", id: 1474335294
mas "iMovie", id: 408981434
mas "Keynote", id: 409183694
mas "Microsoft Remote Desktop", id: 1295203466
mas "Notability", id: 360593530
mas "Pixelmator Pro", id: 1289583905
mas "The Unarchiver", id: 425424353
mas "Things", id: 904280696
mas "Tweetbot", id: 557168941
mas "Twitter", id: 1482454543
mas "Velja", id: 1607635845
mas "Xcode", id: 497799835

{{- if eq .email "mike.splain@gmail.com" }}
# Personal
mas "Deliveries", id: 924726344
mas "Final Cut Pro", id: 424389933
mas "GarageBand", id: 682658836
mas "HP Smart", id: 1474276998
mas "Notability", id: 736189492
mas "Numbers", id: 409203825
mas "Pages", id: 409201541
{{- end }}