#!/bin/bash

# To rerun:
# chezmoi state delete-bucket --bucket=scriptState

{{ if eq .chezmoi.os "linux" -}}
if [ "$USER" = "root" ]; then
  SUDO=""
else
  SUDO="sudo"
fi
$SUDO apt-get update
$SUDO apt-get install \
  fontconfig \
  xfonts-utils \
  neovim \
  hub \
  tmux \
  zsh \
  -yq

{{ else if eq .chezmoi.os "darwin" -}}
{{ if eq .chezmoi.arch "arm64" -}}
BREW_PATH=/opt/homebrew/bin/
{{ else -}}
BREW_PATH=/usr/local/bin/
{{ end -}}
# Ensure homebrew is setup in terminal:
eval "$(${BREW_PATH}/brew shellenv)"

echo "Installing homebrew packages"

brew bundle --no-lock --file=/dev/stdin <<EOF
cask "homebrew/cask-versions/1password-beta"
cask "1password-cli"
brew "hub"
brew "tmux"
brew "gpg"
brew "zsh"
brew "mkfontscale"
EOF

echo ""
echo "Please setup 1password and 1password cli"
read -p "Press any key to continue ..."
echo ""

{{ end -}}

# Install spacevim
curl -sLf https://spacevim.org/install.sh | bash