# Common

tap "atombender/ktail"
tap "bazelbuild/tap"
# tap "github/bootstrap"
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/cask-drivers"
tap "homebrew/cask-versions"
tap "homebrew/core"
tap "homebrew/services"
tap "homebrew/test-bot"
tap "mikesplain/versions"

brew "ack"
brew "jpeg"
brew "libpng"
brew "gdbm"
brew "xz"
brew "autoconf"
brew "automake"
brew "awscli"

brew "bazelisk"

brew "freetype"
brew "fontconfig"

brew "gettext"
brew "pcre"
brew "gmp"

brew "cmake"

brew "curl"
brew "exa"
brew "fd"

brew "findutils"

brew "git"
brew "git-crypt"
brew "git-lfs"

brew "libtool"

brew "libgcrypt"

brew "gnu-sed"
brew "gnu-tar"

brew "helm"
brew "lua"
brew "highlight"
brew "htop"
brew "httperf"
brew "hub"

brew "hugo"
brew "iftop"
brew "ipcalc"
brew "iperf"

brew "jq"
brew "jsonlint"
brew "kind"
brew "kops"
brew "kube-ps1"
brew "kustomize"

brew "libdvdcss"
brew "libyaml"

brew "mas"
brew "maven"

brew "moreutils"
brew "msgpack"
brew "ncdu"
brew "neovim"
brew "nmap"
brew "ossp-uuid"
brew "packer"
brew "perl"
brew "podman"

brew "ruby-build"
brew "rbenv"
brew "rbenv-default-gems"
brew "reattach-to-user-namespace"
brew "ripgrep"
brew "ruby"
brew "s3cmd"
brew "shellcheck"
brew "slackcat"
brew "socat"
brew "sonobuoy"
brew "sops"
brew "ssh-copy-id", link: true
brew "telnet"
brew "terraform"
brew "the_silver_searcher"
brew "thefuck"
brew "tmate"
brew "utf8proc"
brew "tmux"
brew "tree"

brew "vegeta"
brew "velero"
brew "vim"
brew "wakeonlan"
brew "watch"
brew "wget"
brew "yq"
brew "zsh"

brew "atombender/ktail/ktail"

cask "alfred"
cask "atom"
cask "caffeine"
cask "cakebrew"
cask "charles"
cask "disk-inventory-x"
cask "docker"
cask "dropbox"
cask "elgato-stream-deck"
cask "fork"
cask "gimp"
cask "github"
cask "google-chrome"
cask "google-cloud-sdk"
cask "google-drive"
cask "gpg-suite"

cask "iterm2"
cask "kaleidoscope"
cask "keepingyouawake"
cask "keybase"
cask "logitech-options"
cask "menumeters"
cask "multipass"
cask "ngrok"
cask "notion"
cask "obs"
cask "obsidian"
cask "plex-media-player"
cask "postman"
cask "private-internet-access"
cask "psequel"
cask "sequel-pro"
cask "signal"
cask "sonos"
cask "sourcetree"

cask "splashy"
cask "spotify"
cask "superduper"
cask "thunderbird"
cask "tigervnc-viewer"
cask "tor-browser"
cask "transmission"
cask "transmit"
cask "unetbootin"
cask "vagrant"
cask "vagrant-manager"
cask "visual-studio-code"
cask "vlc"
cask "wireshark"
cask "zterm"

mas "iMovie", id: 408981434
mas "Keynote", id: 409183694
mas "Microsoft Remote Desktop", id: 1295203466
mas "Pixelmator Pro", id: 1289583905
mas "The Unarchiver", id: 425424353
mas "Things", id: 904280696
mas "Tweetbot", id: 557168941
mas "Twitter", id: 1482454543
mas "Xcode", id: 497799835
mas "Apple Configurator 2", id: 1037126344
mas "Deliveries", id: 290986013
mas "Hour", id: 569089415
mas "Monosnap", id: 540348655
mas "Notability", id: 360593530

brew "aws-iam-authenticator"
brew "aws_auth_cli"
brew "coreutils"
brew "go"
brew "eksctl"
brew "gox"
brew "helmfile"
brew "kubebuilder"
brew "node"
brew "zsh-completions"
cask "1password"
cask "brooklyn"
tap "mikesplain/tap"

cask "netnewswire-beta"
cask "discord"
cask "firefox"
cask "netnewswire-beta"
mas "1Password for Safari", id: 1569813296


# Work
tap "azure/draft"
tap "jenkins-x/jx"
tap "nathan-v/aws-okta-keyman"
tap "rs/tap"
tap "sonos-inc/pdsw-devops"

brew "argo"
brew "argocd"
brew "asciinema"
brew "calicoctl"
brew "chart-testing"
brew "cilium-cli"
brew "cloc"
brew "cloog"
brew "cowsay"
brew "dive"
brew "docker-machine"
brew "docker-machine-driver-hyperkit"
brew "ec2-api-tools"
brew "fortune"
brew "git-secret"
brew "gnu-getopt"
brew "gradle"
brew "hubble"
brew "imagemagick"
brew "istioctl"
brew "jfrog-cli"
brew "kubernetes-service-catalog-client"
brew "libxml2"
brew "lima"
brew "linkerd"
brew "lolcat"
brew "mercurial"
brew "minikube"
brew "node-build"
brew "nodenv"
brew "nvm"
brew "openssl@3"
brew "postgresql"
brew "potrace"
brew "pulumi"
brew "pv"
brew "serverless"
brew "skaffold"
brew "subnetcalc"
brew "vault"
brew "yarn"
brew "azure/draft/draft"
brew "jenkins-x/jx/jx"
brew "nathan-v/aws-okta-keyman/aws_okta_keyman"
brew "rs/tap/jaggr"
brew "rs/tap/jplot"
brew "sonos-inc/pdsw-devops/kubectl-ns"
brew "sonos-inc/pdsw-devops/sk8s"

cask "amazon-chime"
cask "corretto8"
cask "cyberduck"
cask "deepvacuum"
cask "etcher"
cask "flux"
cask "gitkraken"
cask "gotomeeting"
cask "intellij-idea-ce"
cask "java8"
cask "lens"
cask "microsoft-office"
cask "rancher"
cask "virtualbox"
cask "virtualbox-extension-pack"
cask "vmware-fusion"
cask "xquartz"


# Personal
tap "cloudflare/cloudflare"
tap "fluxcd/tap"
tap "go-task/tap"
brew "ansible"
brew "bbftp-client"
brew "dnsperf"
brew "doctl"
brew "ffmpeg"
brew "fzf"
brew "gnupg", link: false
brew "jsonnet"
brew "kubectx"
brew "kubeseal"
brew "md5sha1sum", link: false
brew "mosh"
brew "pre-commit"
brew "wimlib"
brew "youtube-dl"
brew "cloudflare/cloudflare/cloudflared"
brew "fluxcd/tap/flux"
brew "go-task/tap/go-task"

cask "adoptopenjdk8"
cask "amazon-photos"
cask "balenaetcher"
cask "bitwarden"
cask "blender"
cask "db-browser-for-sqlite"
cask "folding-at-home"
cask "freecad"
cask "handbrake"
cask "librecad"
cask "mazda-toolbox"
cask "nvidia-geforce-now"
cask "openoffice"
cask "openscad"
cask "parsec"
cask "sidequest"
cask "slack"
cask "steam"
cask "ultimaker-cura"
cask "vivaldi"
cask "zoom"
mas "Asphalt 9", id: 1491129197
mas "Compressor", id: 424390742
mas "Deliveries", id: 924726344
mas "Final Cut Pro", id: 424389933
mas "GarageBand", id: 682658836
mas "HP Smart", id: 1474276998
mas "Motion", id: 434290957
mas "Notability", id: 736189492
mas "Numbers", id: 409203825
mas "Pages", id: 409201541
