[github]
	user = mikesplain
[user]
	# Name used in commit messages.
	name = Mike Splain
	# Email used in commit messages.
	email = msplain@cisco.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIN6W4zbb1kZzQOu1ih0nySzLebb2EUp+XpV0a1lkNRiC

[url "workgit:"]
	# Force 1password ssh keys
	insteadOf = https://github.com/

[gpg]
	format = ssh

[gpg "ssh"]
	program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[commit]
	gpgsign = true
