# This is a basic workflow to help you get started with Actions

name: Nix Test

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  tests:
    permissions:
      contents: read
      id-token: write
    env:
      CI_HOSTNAME: ci-${{ matrix.os.name }}
    runs-on: ${{ matrix.os.name }}
    strategy:
      matrix:
        os:
          - name: macos-26
            arch: aarch64-darwin
          - name: macos-15
            arch: aarch64-darwin
          - name: macos-14
            arch: aarch64-darwin
    steps:
      - uses: actions/checkout@v6
      - uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable
          github_access_token: ${{ secrets.GITHUB_TOKEN }}
      - if: matrix.os.name != 'macos-14'
        uses: DeterminateSystems/magic-nix-cache-action@v13
        timeout-minutes: 3
        continue-on-error: true
        with:
          use-flakehub: false
          use-gha-cache: enabled
      - name: Setup
        run: |
          sed -i '' "s/defaultHostname/${CI_HOSTNAME}/g" flake.nix
          sed -i '' "s/defaultSystem/${{matrix.os.arch}}/g" flake.nix
          sed -i '' "s/defaultVersion/$(sw_vers --productVersion | cut -d. -f1)/g" flake.nix

          sudo mv /etc/nix/nix.conf /etc/nix/nix.conf.before-nix-darwin || true
          sudo mv /etc/shells /etc/shells.before-nix-darwin || true
          sudo mv /etc/bashrc /etc/bashrc.before-nix-darwin || true
          sudo mv /etc/zshrc /etc/zshrc.before-nix-darwin || true

          # Remove all Homebrew formulae, casks, and taps before testing
          if [ -n "$(brew list --formula)" ]; then
            brew uninstall --force --ignore-dependencies $(brew list --formula) || true
          fi
          if [ -n "$(brew list --cask)" ]; then
            brew uninstall --cask --force $(brew list --cask) || true
          fi
          if [ -n "$(brew tap)" ]; then
            brew untap $(brew tap) || true
          fi

      - name: Test - Nix Run
        env:
          NIX_CONFIG: "access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}"
        run: |
          sudo -E nix run nix-darwin/master#darwin-rebuild --extra-experimental-features "nix-command flakes" -- switch --flake .#${CI_HOSTNAME}

      - name: Test - Switch
        # See https://github.com/actions/runner-images/issues/264
        shell: zsh {0}
        env:
          NIX_CONFIG: "access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}"
        run: |
          sudo -E darwin-rebuild switch --flake .#${CI_HOSTNAME}

      # - name: Test - bashrc
      #   run: bash -c "source ~/.bashrc"

      - name: Test - zshrc
        run: zsh -vc "source ~/.zshrc && help"
